---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



// font 변경
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans+KR:wght@100..900&display=swap');
$serif              : "Inconsolata",  sans-serif;
$sans-serif-narrow  : "Inconsolata",  sans-serif;
$sans-serif              : "Inconsolata",  sans-serif;
$serif-KR  : "Noto Sans KR",  sans-serif;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;
$caption-font-family: $serif !default;

html {
  font-size: 14px; // originally 16px
  @include breakpoint($medium) {
      font-size: 16px; // originally 18px
  }

  @include breakpoint($large) {
      font-size: 18px; // originally 20px
  }

  @include breakpoint($x-large) {
      font-size: 20px; // originally 22px
  }
}





// 블로그제목
.greedy-nav a.site-title {
  font-size: $type-size-4;
}

// 상단 카테고리 home about..
.greedy-nav .visible-links a {
  font-size: $type-size-6;
}
.greedy-nav .visible-links a:hover:before {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0); // reveal
}


// recent posts h3
.archive__subtitle {
  @include breakpoint($large, $x-large) {
    border-bottom: none;
    margin: 0 0 0.5em;
  }
}


//사이드바
.sidebar {
  @include clearfix();

  border-right: none;

 @include breakpoint($large) {
      &.sticky {
      width: calc(#{$right-sidebar-width-narrow} - 3.5em);
      max-height: 100vh;
      height: 100vh;
      border-right: 1px solid #bfbfbf;
      }

 }
  @include breakpoint($x-large) {
      &.sticky {
      width: calc(#{$right-sidebar-width} - 3.5em);
      max-height: 100vh;
      height: 100vh;
      border-right: 1px solid #bfbfbf;
      }

 }
}

//author__avatar
.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 36px;
  height: 36px;

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    @include breakpoint($large, $x-large) {
      max-width: 200px;
      padding: 0px;
      border: none;
    }
  }
 }


//author__bio
.author__bio p {
  margin: 0;
}


// footer
.page__footer {
  margin-top:0;
}
