:root {
    --mc: #8d002a;;
    --dc: #252525;
    --wc: #ffffff;
    --dd: #dddddd;
}

/* *{outline: 1px solid #369;} */

html {font-size: 10px;}
body {font-size: 1.6rem;}
#wrap {min-width: 1200px;}
.container {width: 120rem; margin: 0 auto;}



@media (max-width:768px) {
    html {font-size: 10px;}
    body {font-size: 1.6rem;}
    #wrap {min-width: auto;}
    .container {width: auto; margin: 0 auto;}
}


/* top_banner */
.top_banner {background: var(--dc); color: #f7f7f7; line-height: 4; font-size: 1.4rem; font-weight: 300;}
.top_banner .container {display: flex; justify-content: space-between; width: 120rem; margin: 0 auto; text-align: center; padding: 0 1.5rem;}
.top_banner ul {display: flex;}
.top_banner li {position: relative; padding: 0 0.8rem;}
.top_banner li~li::after {content: ""; display: block; position: absolute; top: 2.5rem; left: -1rem; width: 0.1rem; height: 1rem; background: #f7f7f7;
margin: 0 1rem;}
.top_banner .right {margin-left: auto;}


.top_banner form input[type="search"] {border: none; color: var(--wc); border-bottom: 1px solid #aaa; outline: none; background: transparent;
margin: 0 0 0 1rem;}
.top_banner form input[type="search"]::placeholder {color: #aaa; text-align: center;}
.top_banner button i {font-size: 2rem; background: #666; border-radius: 50%; padding: 0.5rem; transition: 0.5s;}
.top_banner button:hover i {transform: rotate(360deg);}



/* 반응형 top_banner */
@media (max-width:768px) {
    .top_banner {display: none; background: var(--dc); color: #f7f7f7; line-height: 4; font-size: 1.4rem; font-weight: 300;}
    
}



/* header */
#header {line-height: 10rem; background: #fff; z-index: 999;}
#header h1 {}
#header h1 img {}

#header .container a {display:block;}
#header .container {display:flex;justify-content:space-between;width:120rem;margin:0 auto;}
#header .container .depth01 {display:flex;}
#header .container .inner {display:flex;position:absolute;top:16rem;left:50%;transform:translateX(-50%);width:120rem;background:#ddd;}

#header .depth02 {width:50rem;background:#ff0;}
#header .depth03 {display:none;position:absolute;top:0;left:50rem;}
#header .container .depth02>li:hover .depth03{display:block;}




/* 반응형 header */
@media (max-width:768px) {
    #header {line-height: 10rem; background: #fff; z-index: 999;}
    #header h1 {}
    #header h1 img {}

    #header .container a {display:block;}
    #header .container {display:flex; flex-direction: column; justify-content:space-between; width:auto; margin:0 auto;}
    #header .container .depth01 {display:flex; flex-flow: row wrap;}
    #header .container .inner {display:flex; flex-flow: row wrap; position:static; top:16rem; left:50%;transform:translateX(-50%);width:auto; background:#369;}
    #header .container .inner .title {display: none;}
    #header .depth02 {width:auto; background:#ff0;}
    #header .depth03 {display:none; position:static; top: 0; left:0;}
    #header .container .depth02>li:hover .depth03{display:none;}
}