@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');



:root {
    --mc:#c77df0;
    --sc:#d8eafb;
    --lc:#f7f7f7;
    --dc:#444444;
    --gc:#dddddd;
}


body {color: var(--lc);}
.container {position: relative; display: grid; grid-template-columns: repeat(2,1fr); gap: 2rem; align-items: center; width: 70rem; margin: 0 auto;
z-index: 888;}
#wrap {min-width: 95rem;}


#header nav {position: fixed; top: 50%; right: 3rem; transform: translateY(-50%); z-index: 999;}

#header .cover_btn {position: fixed; top: 3rem; left: 3rem; cursor: pointer; z-index: 999}
#header .cover_btn i {font-size: 1.5rem; padding: 0.5rem; background: var(--mc); border-radius: 50%;}


#header nav li a {position: relative; display: block; width: 3rem; height: 1rem; text-indent: -99999px;}
#header nav li a:after {content: ""; display: block; position: absolute; top: 0.35rem; right: 0; width: 40%; height: 0.3rem; background: var(--mc);
border-radius: 0.15rem; transition: 0.3s;}
#header nav li.on a:after {width: 80%; background: var(--sc);}




.section {background: url(../img/bg02.jpg) no-repeat;}
.section img {max-width: 100%;}
.section .mockup {background: url(../img/mockup.png) no-repeat center top/100%; padding: 7.5% 10% 8% 10%;}
.section .mockup figure {position: relative; padding-bottom: 56.25%; overflow: hidden;}
.section .mockup figure img {position: absolute; top: 0; left: 0; width: 100%; transition: 1s;}
.section .mockup figure:hover img {transform: translateY(-100%); top: 100%; cursor: pointer;}

.section .description h3 {font-family: 'Montserrat', sans-serif; font-size: 2.5rem; font-weight: 200; margin-bottom: 1rem;}
.section .description p {font-size: 0.75rem; font-weight: 300; margin-bottom: 2rem;}
.section .description dl {display: inline-flex; line-height: 1.5rem; border-bottom: 1px solid var(--gc);}
.section .description dl dt {width: 7rem;}
.section .description dl dt::before {content: "＊"; margin-right: 0.5rem;}
.section .description dl:last-of-type {margin-bottom: 2rem;}
.section .description dd span {display: inline-block; width: 0.6rem; height: 0.6rem; border-radius: 50%; vertical-align: middle}
.section .description dd strong {vertical-align: middle; margin-right: 1rem;}


.section .description ul {display: flex; gap: 0.5rem;}
.section .description ul a {display: block; background: var(--mc); color: var(--lc); line-height: 3rem;
padding: 0 2rem; font-size: 1rem; font-weight: 100; border-radius: 0.3rem;}





.intro .container {position: relative;}

.intro .wheel {position: absolute; bottom: 3rem; left: 50%; transform: translateX(-50%); width: 1.5rem;
height: 2.5rem; border: 2px solid var(--lc); font-size: 0; border-radius: 0.7rem; opacity: 0.5;}
.intro .wheel span {position: absolute; top: 0.3rem; left: 50%; transform: translateX(-50%); width: 0.2rem;
height: 0.5rem; background: var(--lc); border-radius: 0.1rem; animation: wheel 0.7s infinite;}

@keyframes wheel {
    to {top:0.6rem}
}

/* 인트로 배경 */
.bg_star {position: relative; overflow: hidden; width: 100%; min-width: 1900px}
.bg_star .inner {position: relative; width: 1900px; margin: 0 auto;}
.bg_star .top {position: relative; width: 100%;}
.bg_star .top .inner {height: 962px;}
  
  
.bg_star .top .c1_s img {position: absolute; animation: star 20s linear infinite; margin-left: 0; margin-top: 0; opacity: 0;}
.bg_star .top .c1_s img:nth-child(1) {animation-delay: 0; animation-duration: 1.6s; top: 142px; left: 0;}
.bg_star .top .c1_s img:nth-child(2) {animation-delay: -1.5s; animation-duration: 1.4s; top:252px; left:157px;}
.bg_star .top .c1_s img:nth-child(3) {animation-delay: -0.7s; animation-duration: 1.2s; top:218px; left:320px;}
.bg_star .top .c1_s img:nth-child(4) {animation-delay: -1s; animation-duration: 1s; top:0; left:397px;}
.bg_star .top .c1_s img:nth-child(5) {animation-delay: 0.2s; animation-duration: 2s; top:110px; left:598px;}
.bg_star .top .c1_s img:nth-child(6) {animation-delay: -2s; animation-duration: 1.8s; top:292px; left:713px;} 
.bg_star .top .c1_s img:nth-child(7) {animation-delay: -0.5s; animation-duration: 1.2s; top:143px; left:805px;}
.bg_star .top .c1_s img:nth-child(8) {animation-delay: -1.2s; animation-duration: 2s; top:136px; left:900px;}

/* .bg_star .top .c2_s img {position: absolute; animation: star 23s linear infinite; margin-right: 0; margin-top: 0; opacity: 0;
color: #f00;}
.bg_star .top .c2_s img:nth-child(1) {animation-delay: 0; animation-duration: 1.6s; top: 142px; right: 0;}
.bg_star .top .c2_s img:nth-child(2) {animation-delay: -1.5s; animation-duration: 1.4s; top:252px; right:157px;}
.bg_star .top .c2_s img:nth-child(3) {animation-delay: -0.7s; animation-duration: 1.2s; top:218px; right:320px;}
.bg_star .top .c2_s img:nth-child(4) {animation-delay: -1s; animation-duration: 1s; top:0; right:397px;}
.bg_star .top .c2_s img:nth-child(5) {animation-delay: 0.2s; animation-duration: 2s; top:110px; right:598px;}
.bg_star .top .c2_s img:nth-child(6) {animation-delay: -2s; animation-duration: 1.8s; top:292px; right:713px;} 
.bg_star .top .c2_s img:nth-child(7) {animation-delay: -0.5s; animation-duration: 1.2s; top:143px; right:805px;}
.bg_star .top .c2_s img:nth-child(8) {animation-delay: -1.2s; animation-duration: 2s; top:136px; right:900px;}
   */

  @keyframes star {
    from {opacity: 0; margin-left: 0; margin-top: 0;}
    35% {opacity: 1; margin-left: -5%; margin-top: 5%}
    70% {opacity: 0; margin-left: -10%; margin-top: 10%}
    to {opacity: 0; margin-left: -10%; margin-top: 10%}
  }
  


/* 인트로 - 원 */
.intro .circle_wrap {position: absolute; top: 25%; left: 0; width: 500px; height: 500px; display: flex; justify-content: left; z-index: 1;}
.intro .circle {position: relative; width: 400px; height: 400px; overflow: hidden;
border-radius: 100%; background: linear-gradient(#3c5aff, #75d8df); box-shadow: 0 0 3px rgba(0,0,0,0.5); transform: translate3d(0, 0, 0);}
.intro .wave01 {position: absolute; top: -65%; left: -30%; border-radius: 45%; width: 600px; height: 600px;
background: rgba(7, 131, 189, 0.8); animation: move 3s infinite linear;}
.intro .wave02 {position: absolute; top: -90%; left: -30%; border-radius: 45%; width: 650px; height: 650px;
background: rgba(9, 33, 119, 0.8); animation: move 5s infinite linear;}
.intro .wave03 {position: absolute; top: -100%; left: -30%; border-radius: 45%; border: 6px solid rgba(131,119,152,0.7); width: 650px; height: 650px;
background: #1d074b; animation: move 7s infinite linear;}
.intro .wave04 {position: absolute; top: -100%; left: -30%; border-radius: 46%; border: 1px solid rgba(131,119,152,0.7); width: 650px; height: 650px;
background: linear-gradient(rgba(252,251,232,0.1) 10%,transparent); animation: move 7s infinite linear;}

@keyframes move {
    100% {transform: rotate(360deg);}
}

/* 인트로 - 달 */
.intro .fa-moon {position: absolute; top: 19%; left: 33%; font-size: 130px; color: rgba(255,255,255,0.8);
animation: moon-rotation 4s infinite linear;}

.intro .blur {filter: blur(10px); -webkit-filter: blur(10px);}


@keyframes moon-rotation {
    0%, 100% {transform: rotate(0deg);}
    50% {transform: rotate(-20deg);}
}

/* 인트로 - 별 */
.fa-asterisk {position: absolute; font-size: 13px; color: rgba(255,255,255,0.5);}
.star01 {top: 70px; left: 90px; animation: star01 1.2s infinite;}
.star02 {top: 50px; left: 45px; animation: star01 1.7s infinite;}
.star03 {top: 180px; left: 45px; animation: star01 1.5s infinite;}
.star04 {top: 120px; left: 40px; font-size: 5px; animation: star01 1.9s infinite;}
.star05 {top: 200px; left: 90px; font-size: 5px; animation: star01 2s infinite;}

.star06 {top: 150px; right: 45px; animation: star01 1.7s infinite;}
.star07 {top: 45px; right: 120px; animation: star01 1.5s infinite;}
.star08 {top: 50px; right: 850px; font-size: 5px; animation: star01 1.9s infinite;}
.star09 {top: 130px; right: 70px; font-size: 5px; animation: star01 2s infinite;}
.star10 {top: 200px; right: 90px; font-size: 5px; animation: star01 1.3s infinite;}

@keyframes star01 {
    0%, 100% {transform: scale(0); opacity: 0;} 
    50% {transform: scale(1); opacity: 1;}
}

/* 인트로 슬로건 */
.intro .slogan {position: absolute; top: 27%; left: 50%; }
.intro .slogan h2 {font-family: 'Rufina', serif; font-size: 70px; font-weight: 700; margin-bottom: 0.5rem;}
.intro .slogan h3 {font-family: 'Rufina', serif; font-size: 70px; font-weight: 700; margin-bottom: 0.5rem;}
.intro .slogan h3::after {content: ""; display: inline-block; width: 165px; height: 1px; background: rgba(255,255,255,0.8);
vertical-align: middle; margin-left: 20px;}
.intro .slogan h4 {font-family: 'Rufina', serif; font-size: 70px; font-weight: 700; margin-bottom: 2rem;}
.intro .slogan strong {font-family: 'Average Sans', sans-serif; display: block; font-size: 35px;  letter-spacing: 0.1em;}



.portfolio_01 .description dd span:nth-of-type(1) {background: #333;}
.portfolio_01 .description dd span:nth-of-type(2) {background: #666;}
.portfolio_01 .description dd span:nth-of-type(3) {background: #999;}

.portfolio_02 .description dd span:nth-of-type(1) {background: #111;}
.portfolio_02 .description dd span:nth-of-type(2) {background: #222;}
.portfolio_02 .description dd span:nth-of-type(3) {background: #333;}


.portfolio_04 {overflow: hidden;}
.portfolio_04 .gooey {position: absolute; top: 10%; left: 0; width: 100%; height: 100vh; font-size: 0; overflow: hidden; filter: url('#bbq');}
.portfolio_04 .gooey::before {content: ""; display: block; position: absolute; top: 20%; left: 0; width: 40rem; height: 40rem; background: var(--mc);
border-radius: 50%;}
.portfolio_04 .gooey::after {content: ""; display: block; position: absolute; top: 50%; left: 25%; width: 10rem; height: 10rem; background: var(--mc);
border-radius: 50%; animation: circle_move 3.5s infinite;}


@keyframes circle_move {
    0% {top: 50%; left: 25%; opacity: 1;}
    100% {top: 0; left: 70%; opacity: 0;}
}


/* 돌아가는원 */
.profile {position: relative;}
.profile .inner {position: relative; width: 20rem; height: 20rem; border: 1px solid rgba(0,0,0,0.15); padding: 1rem;
border-radius: 50%;}
.profile .inner strong {display: block; width: 18rem; height: 18rem; border-radius: 50%; overflow: hidden;}
.profile .inner span {position: absolute; top: 0; left: calc(50% - 0.5rem); width: 1rem; height: 10rem; font-size: 0;
animation: circle_photo 6s infinite linear; transform-origin: bottom;}
.profile .inner span::after {content: ""; display: block; width: 1rem; height: 1rem; background: var(--sc); border-radius: 50%;
margin-top: -0.5rem;}
/* .profile .moon {position: absolute; top: 0; left: 0; width: 80px; height: 80px; border-radius: 50%; box-shadow: 15px 15px 0 0 rgba(255,255,255,0.5);
font-size: 0;} */

@keyframes circle_photo {
    0% {transform: rotate(0);}
    100% {transform: rotate(1turn);}
}


.profile .toTop {position: fixed; bottom: 3rem; right: 3rem; z-index: 999;}
.profile .toTop i {font-size: 1.6rem; padding: 0.5rem; color: var(--lc); border: 1px solid rgba(255,255,255,0.5);
border-radius: 50%;}

#footer address {position: fixed; bottom: 3rem; left: 3rem; z-index: 999;}



#cover {display: none; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.75); width: 100%; height: 100vh;
z-index: 998;}
#cover ul {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: var(--dc);
font-size: 1.5rem; font-weight: 300; line-height: 1.5; text-align: center; background: var(--lc); padding: 5rem;
border-radius: 50%;}


.spec {font-size: 1.25rem;}
.spec i {padding: 0.25rem; background: var(--dc); color: var(--lc); margin: 0 0.25rem;
border-radius: 50%;}