/* * {outline: 1px solid #f00;} */

html {font-size: 10px;}
body {font-size: 1.6rem;}
.container {width: 120rem; margin: 0 auto;}

/* header */
#header {position: fixed; line-height: 10rem; top: 0; left: 0; width: 100%; color: #fff; z-index: 1;}
#header.on {background: #fff; line-height: 10rem; color: #333; border-bottom: 1px solid #ddd;}
#header h1 a {display: block; width: 20rem; height: 10rem; background: url(../img/logo.png); text-shadow: 0 0 2px #333;}
#header.on h1 a {background: url(../img/logo_color.png);}
#header .container {display: flex; width: 120rem; margin: 0 auto; padding: 0 1.5rem;}
#header i {padding: 0 0.5rem; font-size: 1.8rem;}

.gnb {text-align: center; margin: 0 auto;}
.gnb .depth01 {display: flex;}
.gnb .depth01>li {position: relative;}
.gnb .depth01>li>a {display: block; padding: 0 2rem; line-height: 10rem; font-size: 1.7rem; text-shadow: 0 0 2px #333;
width: 200px;}
#header.on .gnb .depth01>li>a {text-shadow: none;}

.gnb .depth02 {height: 0; overflow: hidden; position: absolute; top: 11rem; left: 0;
width: 100%; transition: 0.5s; z-index: 999;}
.gnb:hover .depth02 {height: 27rem;}
.gnb::before {content: ""; display: block; width: 100%; height: 0; background: rgba(0,0,0,0.5); position: absolute;
top: 10rem; left: 0; transition: 0.5s;}
.gnb:hover:before {height: 27rem; border-top: 1px solid #ddd;}
.gnb .depth02>li>a {display: block; line-height: 3.5rem; text-align: center; color: #f2f2f2; z-index: 999;
font-size: 1.5rem; text-shadow: 0 0 2px #333;}
.gnb .depth02>li>a:hover {color: #00a950; font-weight: 500;}
.mopen {display: none; width: 3rem; height: 1rem;}


/* 반응형 header */
@media (max-width:768px) {
    html {font-size: 10px;}
    body {font-size: 1.6rem;}
    .container {width:auto; margin: 0 auto;}
    
    #header {position: relative; line-height: 10rem;}
    #header h1 a {display: block; width: 20rem; height: 10rem; background: url(../img/logo_color.png); text-shadow: 0 0 2px #333;}
  
    #header .container {display: flex; width: auto; margin: 0 auto; padding: 0 1.5rem;}
    #header i {padding: 0 0.5rem; font-size: 1.8rem;}
    
    .gnb {position: fixed; text-align: center; margin: 0 auto; top: 0; left: -100%; width: calc(100% - 90px); height: 100vh; background: #fff; padding: 10rem 0 0 0; border-right: 1px solid #ddd; transition: 0.5s; z-index: 999;}
    .gnb.on {left: 0;}
    .gnb .depth01 {display: flex; flex-direction: column; line-height: 5rem;}
    .gnb .depth01>li {position: relative;}
    .gnb .depth01>li>a {display: block; width: 13rem; width: 100%; text-align: center; margin: 0 auto; line-height: 5rem; text-shadow: none;
    color: #333; font-size: 16px;}
    .right {display: none;}
    .gnb .depth02 {display: none; height: auto; overflow: hidden; position: static; top: 11rem; left: 0;
    width: 100%; transition: none; background: #f2f2f2; z-index: 999;}
    .gnb:hover .depth02 {display: none; height: auto;}
    .gnb::before {content: ""; display: none; width: 100%; height: 0; background: rgba(0,0,0,0.5); position: absolute;
    top: 10rem; left: 0; transition: 0.5s; z-index: 999;}
    .gnb:hover:before {height: 24rem;}
    .gnb .depth02>li>a {display: block; line-height: 3.5rem; text-align: center; color: #333; z-index: 999;
    font-size: 15px; text-shadow: none;}
    .gnb .depth02>li~li>a {border-top: 1px solid #ddd;}
    .gnb .depth02>li>a:hover {color: #00a950; font-weight: 500;}
    
    .mopen {display: block; position: fixed; top: 3.5rem; right: 2rem; cursor: pointer; z-index: 999;}
    .mopen::after {content: ""; display: block; width: 100%; height: 2.5rem; background: #f2f2f2; border-radius: 10%; transform: scale(1.8); position: relative;}
    .mopen span {display: block; width: 100%; height: 0.2rem; background: #333; position: absolute; left: 0; transition: 0.3s;
     z-index: 1;}
    .mopen span:nth-child(1) {top: 0;}
    .mopen span:nth-child(2) {top: 1rem;}
    .mopen span:nth-child(3) {top: 1rem;}
    .mopen span:nth-child(4) {top: 2rem;}

    .mopen.on span:nth-child(1) {opacity: 0; transform: translateY(-30px);}
    .mopen.on span:nth-child(2) {transform: rotate(45deg);}
    .mopen.on span:nth-child(3) {transform: rotate(-45deg);}
    .mopen.on span:nth-child(4) {opacity: 0; transform: translateY(30px);}

}

/* visual */
#visual {height: 100vh}

/* 반응형 visual */
@media (max-width:768px) {
    #visual {height: calc(100vh - 20rem); width: auto !important}
}

/* #cont01 */
#cont01 {padding: 15rem 0;}
#cont01 .case {display: flex; padding: 0 1.5rem;}
.intro01,.intro02,.intro03,.intro04 {padding: 0 1.1rem;}
.txt {background: #333; width: 27rem; height: 13rem; text-align: center; letter-spacing: -0.025em; color: #fff;}
.txt h2 {font-size: 1.8rem; padding: 2.8rem 0 1.5rem 0;}
.txt p {font-size: 1.4rem; font-weight: 300; line-height: 1.8rem;}

.intro01 figure,.intro02 figure,.intro03 figure,.intro04 figure {overflow: hidden;}
.intro01 figure img,.intro02 figure img,.intro03 figure img,.intro04 figure img {transition: 0.5s;}
.intro01 figure:hover img,.intro02 figure:hover img,.intro03 figure:hover img,.intro04 figure:hover img {transform: scale(1.1);}


/* 반응형 #cont01 */
@media (max-width:768px) {
    #cont01 {padding: 15rem 0;}
    #cont01 .case {display: flex; flex-direction: column;}
    .intro01,.intro02,.intro03,.intro04 {flex: 1; padding: 1rem 0; margin: 0 auto;}
    .txt {background: #333; width: 27rem; height: 13rem; text-align: center; letter-spacing: -0.025em; color: #fff;}
    .txt h2 {font-size: 1.8rem; padding: 3rem 0 1.5rem 0;}
    .txt p {font-size: 1.4rem; font-weight: 300; line-height: 1.8rem;}
}


/* #cont02 */
#cont02 {padding: 15rem 0; background: #f7f7f7; text-align: center;}
#cont02 .container {}
#cont02 h2 {font-size: 3rem; padding-bottom: 2rem;}
#cont02 p {font-size: 1.7rem; line-height: 2.5rem; letter-spacing: -0.025em; font-weight: 300;}
#cont02 ul {display: flex; justify-content: center; text-align: center; margin: 10rem 0 5rem 0;}
#cont02 ul li a {font-size: 1.8rem; position: relative; margin: 0 1.5rem; font-weight: 300;}
#cont02 ul li~li a::before {content: ""; display: block; width: 1px; height: 13px; background: #333;
position: absolute; top: 0.9rem; left: -2.5rem; margin: 0 1rem;}
#cont02 img {max-width: 100%; border-radius: 50%;}
#cont02 figure {padding: 30px 15px;}
#cont02 .case {margin-bottom: 30px; background: #f7f7f7; position: relative;}
#cont02 figure img {transition: 0.5s; padding: 3.3rem;}
#cont02 figure.on img {transform: scale(1.4);}


#cont02 figure .case .des {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.3);
border-radius: 50%;}
#cont02 figure.on .case .des {border-radius: 50%; transform: scale(1.1);}
#cont02 strong {}
#cont02 span {display: block;}
#cont02 p {line-height: 2.2rem;}


